<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Planting Date Results</title>
    </head>
    <body class="custom-body">

        <div class="container">
            <h6>
                <p id="pageTop" class="search-header">Your Search Criteria</p>
                <p> <span class="dateStrings">{{beginString}}</span><span class="dateStrings">{{endString}}</span></p>
                <p>Your entered dates above created a search window.  Assuming they are planted <span class="underline">today</span>, crops listed in the table should begin producing during that window.</p>
            </h6>
            <a class="go-back" href={{request.referrer}} >Return to Date Entry</a>
            <h1>
                Your Crops  
            </h1>         


            <table  class="table table-striped">
                <thead class="thead-dark">
                    <th scope="col" class="table-primary">No.</th>
                    <th scope="col">Crop Name</th>
                    <th scope="col">Wikipedia</th>
                    <th scope="col">First Harvest<br>(expected first produce)</th>
                    <th scope="col">Last Harvest<br>(expected last produce)</th>
                    <th scope="col">Perennial (yes/no)</th>
                </thead>
                <tbody>
                    <tr>
                    {% for the_crop in returned_crops %}
                        <th scope="row">{{the_crop["crop_list_num"]}}</th>
                        <th scope="row">{{the_crop["utf8name"]}}</th>
                        <td><a class="wikilink" href={{the_crop["wiki_url"]}}>{{the_crop["wiki_url"]}}</a></td>
                        <td scope="row">{{the_crop["first_harvest_date_start"]}}</td>                
                        <td>{{the_crop["first_harvest_date_end"]}}</td>
                        <td>{{the_crop["isPerennial"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr >
                        <td colspan="3">
                            **Data left as found in source
                        </td>
                        <td colspan="3">
                            <a href="#pageTop">Back to top</a>
                        </td>

                    </tr>
                </tfoot>

            </table>
            <p class='explanation'>
                This tool uses source data from <a href="http://growstuff.org/">http://growstuff.org/</a><br>
                Results are based on expected time to harvest in days.  <br>
                Weather, sunlight for your location/time of year, soil/air temperatures are not factored.<br>
                <a href="mailto:kenthervey+cropapp@gmail.com?subject=Crop App user">Contact Me</a>
            </p>




        


        </div> <!--End container div-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
    </body>
</html>




